<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gerenciamento de Vendas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <header class="menu">
        <div class="container">
            <div class="row">
                <div class="menu-logo col-md-4">

                    <a asp-area="" asp-controller="Home" asp-action="Index">Gerenciamento de
                        Vendas</a>

                </div>
                <nav class="menu-nav col-8">
                    @* Inicio alterações menu miblie *@
                    <button data-menu="buttom" aria-expanded="false" aria-controls="menu">Menu</button>
                    <ul data-menu="list" id="menu">
                        @* final das alterções menu-moblie *@
                        <li data-dropdown>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Usuários</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-area="" asp-controller="UserTypes" asp-action="Index">Tipo Usuario</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="AccessTypeUsers" asp-action="Index">Acesso
                                        Usuario</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="UserProfiles" asp-action="Index">Perfil
                                        Usuario</a>
                                </li>
                            </ul>
                        <li>
                            <a href="#contato">Contato</a>
                        </li>
                        <partial name="_LoginPartial" />

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="copy">
        <p> &copy; DNA developer'software 2021 - Animais Fantásticos <br>Todos os direitos
            reservados.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
